@font-face {
    font-family: Futura;
    src: url(fonts/futurak.ttf);
}

@font-face {
    font-family: Apercu;
    src: url(fonts/ApercuMonoProLight.ttf);
}

@font-face {
    font-family: Mignon;
    src: url(fonts/Mignon-Regular.ttf);
}

@font-face {
    font-family: Butler;
    src: url(fonts/Butler_Light.ttf);
}

@font-face {
    font-family: HankenGrotesk;
    src: url(fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    margin: 0%;
    background: black;
}

:root {
    --textcolor1: white;
    --textcolor2: red;
    --bgcolor1: red;
    --bgcolor2: black;
    --bgcolor5:green;
    --borderradius: 20px;
    --btnpadding: 12px;
    --bordercolor: white;
    --bgcolor3: #0F0F0F;
    --bgcolor4: white;

}

.main-div-1 {


    header {
        display: flex;
        height: 90px;
        background: black;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    a {
        color: white;
        text-decoration: none;

    }

    .child1>ul {
        list-style-type: none;
        display: flex;
        gap: 40px;

    }

    .child-li {
        margin-top: 13px;
    }

    /* .child1 > button{
    border-radius: 50%;          didn't worked with this
} */
    .btn {
        border-radius: var(--borderradius);
        /*assigned a class and then applied border radius */
        padding: var(--btnpadding);
        background-color: var(--bgcolor1);
        color: var(--textcolor1);
        border-color: var(--bordercolor);
    }
    .btn1 {
        border-radius: var(--borderradius);
        /*assigned a class and then applied border radius */
        padding: var(--btnpadding);
        background-color: var(--bgcolor2);
        color: var(--textcolor1);
        border-color: var(--bordercolor);
    }
}

.main-div-2 {

    padding-bottom: 100px;
    color: var(--textcolor1);
    text-align: center;



    h2 {
        font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 100;
        font-size: 48px;
        font-style: normal;

    }

    .h2-span {
        font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 400;
        font-size: 60px;

    }

    p {
        font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
    }

    .parent {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    }

    .child {
        background: white;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
    }

    .child-div>ul {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        list-style-type: none;
        gap: 200px;
    }

    .child-div button {
        justify-content: center;
        border-radius: var(--borderradius);
        background: var(--bgcolor2);
        color: var(--textcolor1);
        padding: var(--btnpadding);
        border-color: var(--bordercolor);
    }
}

.main-div-3 {
    background: rgba(255, 255, 255, 0.06);
    padding-top: 50px;
    text-align: center;
    color: var(--textcolor1);
    font-family: butler;

    h1 {
        font-family: "Mignon-Bold", Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 60px;

        span {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;
            font-size: 60px;
        }

    }

    p {
        font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
    }

    .child-of-div-3 {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        margin-left: 200px;
        margin-right: 100px;
        margin-top: 90px;

        .child {

            width: 43%;
            height: 250px;
            margin: 50px 30px 50px 30px;

        }


        .child h3 {
            font-family: "HankenGrotesk", sans-serif;
            font-weight: 200;
            color: var(--textcolor2);
            letter-spacing: 8px;
            margin-bottom: 0px;

        }

        .child h2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
            margin-top: 0px;

            .span-h2 {
                font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 70;
            }


        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor2);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
        }

        .child .branch-imgs {
            width: 90%;
            height: 250px;
        }

        .child .salt {
            margin-top: -600px;
            margin-bottom: -100px;
            margin-left: 300px;
            width: 350px;
            height: 500;
        }






    }


}

.main-div-4 {

    padding-bottom: 100px;
    color: var(--textcolor1);
    text-align: center;

    h2 {
        font-family: "Mignon-Bold", Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 50px;

        .h2-span {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;
            font-size: 50px;
        }

    }

    .child .branch-imgs {
        width: 290px;
        height: 250px;
    }

    .child-of-div-4 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;

        h3 {
            font-family: "HankenGrotesk", sans-serif;
            font-weight: 100;
            font-size: 14px;
            letter-spacing: 5px;
            color: var(--textcolor2);
        }

        h2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 200;
            font-size: 20px;

        }

        .span-h2 {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
        }

        span {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;
        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor2);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
            margin-top: 25px;
        }
    }

    .child-of-div-4-1 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;


        h3 {
            font-family: "HankenGrotesk", sans-serif;
            font-weight: 100;
            font-size: 14px;
            letter-spacing: 5px;
            color: var(--textcolor2);
        }

        h2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 200;
            font-size: 20px;

        }

        .span-h2 {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
        }

        span {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;
        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor2);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
            margin-top: 25px;
        }

        .child .branch-imgs {
            width: 290px;
            height: 250px;
        }
    }

    .child-of-div-4-2 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;


        h3 {
            font-family: "HankenGrotesk", sans-serif;
            font-weight: 100;
            font-size: 14px;
            letter-spacing: 5px;
            color: var(--textcolor2);
        }

        h2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 200;
            font-size: 20px;

        }

        .span-h2 {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
        }

        span {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;
        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor2);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
            margin-top: 25px;
        }

        .child .branch-imgs {
            width: 290px;
            height: 250px;
        }
    }

    .child-of-div-4-3 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;


        h3 {
            font-family: "HankenGrotesk", sans-serif;
            font-weight: 100;
            font-size: 14px;
            letter-spacing: 5px;
            color: var(--textcolor2);
        }

        h2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 200;
            font-size: 20px;

        }

        .span-h2 {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
        }

        span {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;
        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor2);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
            margin-top: 25px;
        }

        .child .branch-imgs {
            width: 290px;
            height: 250px;
        }
    }


}

.main-div-5 {
    background: rgba(255, 255, 255, 0.06);
    padding-top: 20px;
    padding-bottom: 130px;
    text-align: center;
    color: var(--textcolor1);

    h1 {
        font-family: "Mignon-Bold", Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 60px;

        span {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;
            font-size: 60px;
        }

    }

    .child .branch-imgs {
        display: flex;
        width: 651px;
        height: 372px;
        margin-right: 500px;
    }

    .child-of-div-5 {
        text-align: left;
        flex-wrap: wrap;
        margin-top: -300px;
        margin-left: 700px;


        h3 {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
            font-size: 16px;
            color: var(--textcolor2);
            letter-spacing: 5px;
            margin-bottom: 0px;

        }

        h2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 100;
            margin-top: 0px;

            .span-h2 {
                font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 70;
            }


        }

        .child button {
            color: var(--textcolor1);
            background: var(--bgcolor5);
            border-color: var(--bordercolor);
            border-radius: var(--borderradius);
            padding: var(--btnpadding);
        }


    }
}

.main-div-6 {
    padding-bottom: 100px;
    color: var(--textcolor1);
    text-align: center;

    h1 {
        font-family: "Mignon-Bold", Georgia, 'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 50px;

        span {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 400;
            font-size: 60px;
        }

        .two {
            font-family: "Mignon-Bold", Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            font-weight: 100;
        }
    }

    .child-of-div-6 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;

        .child {
            background-color: var(--bgcolor4);
            color: var(--bgcolor2);
            height: 250px;
            width: 400px;
            padding-top: 20px;

            border-radius: 6px;
        }

        p {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 10px;
            color: var(--textcolor2);
        }

        .h3-1 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
        }

        span {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-weight: 100;
        }

        .h3-2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-weight: 100;
        }
    }

    .child-of-div-6-1 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;

        .child {
            background-color: var(--bgcolor4);
            color: var(--bgcolor2);
            height: 250px;
            width: 400px;
            padding-top: 20px;

            border-radius: 6px;
        }

        p {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 10px;
            color: var(--textcolor2);
        }

        .h3-1 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
        }

        span {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-weight: 100;
        }

        .h3-2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-weight: 100;
        }
    }

    .child-of-div-6-2 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;

        .child {
            background-color: var(--bgcolor4);
            color: var(--bgcolor2);
            height: 250px;
            width: 400px;
            padding-top: 20px;

            border-radius: 6px;
        }

        p {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 10px;
            color: var(--textcolor2);
        }

        .h3-1 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
        }

        span {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-weight: 100;
        }

        .h3-2 {
            font-family: "Futura", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            font-weight: 100;
        }
    }
}

.main-div-7 {
    padding-top: 20px;
    color: var(--textcolor1);
    text-align: center;

    h3 {
        font-family: 'Butler' Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        font-weight: 500;
    }

    .child-of-div-7 {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 30px;
        margin-bottom: 100px;
        list-style: none;

        .Image {
            display: flex;
            width: 287px;
            height: 287px;
        }
    }
}

.main-div-8 {
    background: rgba(255, 255, 255, 0.06);
    padding-top: 20px;
    padding-bottom: 100px;
    color: var(--textcolor1);

    .Image {
        width: 150px;
        margin-left: 200px;
        margin-top: 60px;
    }

    p {
        font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 200px;
        font-size: 15px;
        padding-bottom: 300px;

        a {
            text-decoration: none;
            color: var(--textcolor1);
        }
    }

    .child-of-div-8 {
        display: flex;
        text-align: left;
        justify-content: center;
        gap: 30px;

        div ul {
            margin-top: -580px;
            margin-right: 300px;
        }

        div li {
            list-style: none;
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;

        }

        .li {
            font-family: 'Butler', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            font-weight: 100;
        }
    }

    .child-of-div-8-1 {
        display: flex;
        text-align: left;
        justify-content: center;
        gap: 30px;
        list-style: none;

        div ul {
            margin-top: -580px;
            margin-left: 300px;
        }

        div li {
            list-style: none;
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;

        }

        .li {
            font-family: 'Butler', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            font-weight: 100;
        }

        .li-1 {
            font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            font-weight: 200;

        }

        .main-div-8-2 {
            display: flex;
            text-align: left;
            justify-content: center;
            gap: 30px;
            list-style: none;

            .two {
                
                margin-left: 50%;
                padding-top: 10%;

            }


            .li-2 {
                width: 50px;
            }

            li {
                display: flex;
                font-family: 'Butler', Verdana, Geneva, Tahoma, sans-serif;
                font-size: 16px;
            }
        }


    }

}
footer{
    color: var(--textcolor1);
    font-family: "ApercuMonoProLight", sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;

}